<!DOCTYPE html>
<html>

<head>
    <div class="model">
	<style>
        
	table,
	th,
	td {
		border: 2px solid wheat;
		border-collapse: collapse;
        text-align: center;
        margin-top: 30px;
        color: black;
        background-color: rgba(0, 0, 0, 0.452);
       
      
	}
	</style>
    </div>
</head>

<body>
	<table style="width:100%">
		<tr>
            <style>th{background-color:rgba(0, 0, 139, 0.733)};</style>
			<th>Firstname</th>
			<th>Lastname</th>
			<th>Age</th>
            <th>phone no</th>
            <th>city</th>
		</tr>
		<tr>
			<td>Priya</td>
			<td>Sharma</td>
			<td>24</td>
            <td>7458961235</td>
            <td>banglore</td>
		</tr>
		<tr>
			<td>Arun</td>
			<td>Singh</td>
			<td>32</td>
            <td>8796541235</td>
            <td>chennai</td>
		</tr>
		<tr>
			<td>Sam</td>
			<td>Watson</td>
			<td>41</td>
            <td>9856321478</td>
            <td>pune</td>
		</tr>
        <tr>
			<td>Spoorthi</td>
			<td>gowda</td>
			<td>23</td>
            <td>1234567891</td>
            <td>shimoga</td>
		</tr>
        <tr>
			<td>shane</td>
			<td>Watson</td>
			<td>41</td>
            <td>9856321478</td>
            <td>pune</td>
		</tr>
        <tr>
			<td>mytri</td>
			<td>singh</td>
			<td>31</td>
            <td>9856321478</td>
            <td>chennai</td>
		</tr>
        <tr>
			<td>asgar</td>
            <td>ali</td>
			<td>45</td>
            <td>9856321478</td>
            <td>singapore</td>
		</tr>
	</table>
</body>

</html>



