<!-- <h1>Teacher</h1>
<button (click)="">Greet Student</button>
<button (click)="appreciateStudent()">Appreciate Student</button>
<app-child></app-child> -->
<div class="model">
<style>
    .model{
        text-align: center;
         font-size: xx-large;
        
        
        
    }
</style>
<br>
<button type="button" onclick="alert('Good Morning Teacher!')">greetStudent!</button><br><br>
<button type="button" onclick="alert('Thank You Teacher!')">appreciateStudent!</button><style>button{color:black;
background-color: rgba(0, 0, 255, 0.384);}</style>
</div>

